<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf8">
<body>
	<aside class="col-md-3 d-none d-sm-block" th:fragment="publicidad" >
		<div class="card p-3 text-right">
	    <blockquote class="blockquote mb-0">
	      <p>Lorem ipsum dolor sit amet.</p>
	      <footer class="blockquote-footer">
	        <small class="text-muted">
	          Someone famous in <cite title="Source Title">Source Title</cite>
	        </small>
	      </footer>
	    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="" >
    <div class="card-body">
      <h5 class="card-title">Card title that wrapse</h5>
      <p class="card-text">This is a longer card with.</p>
    </div>
  </div>
  
	</aside>
</body>
</html>