<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>ComprasListado</title>
		<link rel="stylesheet" type="text/css" th:href=@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}>
		<link rel="stylesheet" type="text/css" th:href="@{/css/miestilo.css}">		
	</head>
	<body>
	
	
		<div class="container">
			<header th:replace="layout/header :: header"></header>
			<div class="row ">
				<section class=" col-sm-6 col-md-9 bg-light">
					<div class="titulo01 col-12 text-center">
						<h3 >LISTADO DE COMPRAS</h3>
						</div >
							<div class="table-responsive">
								<table class="table table-over table-dark" id="tbCompra">
									<thead>
										<tr>
											<th>ID</th>
											<th>PRODUCTO</th>
											<th>CANTIDAD</th>
											<th>TOTAL</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="comp : ${compras}">
											<td th:text="${comp.id}"></td>
											<td th:text="${comp.producto.codigo}"></td>
											<td th:text="${(comp.cantidad)}"></td>
											<td th:text="${(comp.obtenerCalculoTotal())}"></td>
										</tr>
									</tbody>
								</table>
								
								
							</div>
				</section>
				<aside th:replace="layout/publicidad :: publicidad"></aside>
			</div>
			<footer th:replace="layout/footer :: footer"></footer>
		</div>
	</body>
</html>