<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Compra Nueva</title>
		<link rel="stylesheet" type="text/css" th:href=@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}>
		<link rel="stylesheet" type="text/css" th:href="@{/css/miestilo.css}">
	</head>
	<body>
		<div class="container">
			<header th:replace="layout/header :: header"></header>		
			<div class="row ">
				<section class=" col-md-9 bg-light">
					<h3>FORMULARIO DE COMPRAS</h3>
					<form th:action="@{/compra/guardar}" th:method="post" th:object="${compra}">
																	
						<div class="form-group row">
							<label for="txtId" class="col-sm-3 col-form-label">Id Compra.</label>
							<div class="col-sm-5">
								<input type="number" class="form-control" id="txtId" th:field="*{id}" step="any">
							</div>
						</div>
						
						
						
						<div class="form-group row">		
							   <label for="txtcodigo" class="col-sm-2 col-form-label">Codigo</label>
							 	<div class="col-sm-10">	
							    	<!--<input type="number" class="form-control" id="txtcodigo" th:field="*{codigo}">-->
							    	<input type="number" class="form-control" id="txtcodigo">
							    </div>
						</div>
								   
						 <div class="form-group row">
							<label for="txtnombre" class="col-sm-2 col-form-label">Nombre</label>
						    <div class="col-sm-10">
					    	<!--<input type="text" class="form-control" id="txtnombre" th:field="*{nombre}" placeholder="Ingrese un nombre">-->
					    	<input type="text" class="form-control" id="txtnombre">
					        </div>
           				</div>
								   
						<div class="form-group row">
							<label for="txtprecio" class="col-sm-2 col-form-label">Precio</label>
							 <div class="col-sm-10">
							     <!--<input type="number" class="form-control" id="txtprecio" th:field="*{precio}" step="any">-->
							     <input type="number" class="form-control" id="txtprecio" step="any">
							 </div>
						</div>
								   
						<div class="form-group row">
							<label for="txtmarca" class="col-sm-2 col-form-label">Marca</label>
							<div class="col-sm-10">
								 <!--<input type="text" class="form-control" id="txtmarca" th:field="*{marca}" placeholder="Ingrese una marca">-->
								 <input type="text" class="form-control" id="txtmarca">
							</div>
						</div>
								   
						<div class="form-group row">
							<label for="txtstock" class="col-sm-2 col-form-label">Stock</label>
							<div class="col-sm-10">
								 <!--<input type="number" class="form-control" id="txtstock" th:field="*{stock}">-->
								 <input type="number" class="form-control" id="txtstock">
							</div>
						</div>
						

						<div class="form-group row">
							<label for="txtcantidad" class="col-sm-3 col-form-label">Cantidad.</label>
							<div class="col-sm-5">
								<input type="number" class="form-control" id="txtcantidad" th:field="*{cantidad}" step="any">
							</div>
						</div>
						
										
						<div class="form-group row">
							<label for="txttotal" class="col-sm-3 col-form-label">txttotal</label>
							 <div class="col-sm-7">
							     <input type="number" class="form-control" id="txttotal" value="" th:field="*{total}" step="any">
							 </div>
						</div>
						
						
						<button type="submit" class="btn btn-outline-secondary">Guardar</button>
					</form>
				</section>
				<aside th:replace="layout/publicidad :: publicidad"></aside>
			</div>
		</div>	
				
		<footer th:replace="layout/footer :: footer"></footer>
	</body>
</html>